[Unit]
Description=The Apparatus - Pi A Loop Player (Layer 1 autoloader)
After=sound.target network.target
Wants=sound.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/apparatus/player_a.py
Restart=always
RestartSec=3

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal

SupplementaryGroups=video render input tty

[Install]
WantedBy=multi-user.target