[Unit]
Description=The Apparatus - Pi B Master Player (L2/L3 autoloader)
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=pi
Environment=APPARATUS_LAYER3_START_S=300
ExecStart=/usr/bin/python3 /home/pi/apparatus/player_b.py
Restart=always
RestartSec=3

SupplementaryGroups=video render input

[Install]
WantedBy=graphical.target