[Unit]
Description=The Apparatus - Pi A Loop Player (Layer 1 autoloader)
After=network.target sound.target
Wants=sound.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/apparatus/player_a.py
Restart=always
RestartSec=3

SupplementaryGroups=video render input dialout

[Install]
WantedBy=multi-user.target